{% extends "base.html" %}
{% block content %}
  <h1>Movie Title</h1>
  <h2>Tietyn elokuvan kaikki arvostelut näkyvät</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Review</th>
        <th>Rating</th>
        <th>User (link to profile)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>luku</td>
        <td>linkki</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>luku</td>
        <td>linkki</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>luku</td>
        <td>linkki</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
