{% extends "base.html" %}
{% block content %}
{% if reviewer_logged_in %}
    <form class="navbar-form navbar-right" method="post" action="{{base_path}}/logout">
        <button type="submit" class="btn btn-default">Kirjaudu ulos</button>
    </form>
{% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{base_path}}/login">Kirjaudu sisään</a></li>
    </ul>
{% endif %}
<p>{{message}}</p>
<h1>Elokuvat</h1>

<p>
    <a href="{{base_path}}/movie/new" class="btn btn-success">Lisää elokuva arvosteltavaksi</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Elokuvan nimi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for movie in movies %}
        <tr>
            <td><a href="{{base_path}}/movie/{{movie.id}}">{{movie.nimi}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/movie/{{movie.id}}/edit">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
